*.jpeg
CMake*.*
*.make
*.cmake
*.txt
Makefile
Makefile2
*.marks
compiler*.ts
*.cpp.o
*.cpp.o.d
*.json
*.internal
*.plist
stub.*
stub
video
cv_video
a.out
test.*
test
/src/spdlog
/build
!command.txt
ctello.h
ctello.cpp




